.page {
  background-image: var(--bg-image);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-color: var(--bg-color);
  background-repeat: no-repeat;
  font-family: var(--font-family);
  font-size: var(--font-size);
}

.header {
  block-size: 100vh;
  min-block-size: 668px;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  padding: 10px;
  position: relative;
}

.decorated-zone::before {
  content: "";
  block-size: 25px;
  inline-size: 25px;
  border-inline-end: 1px solid var(--accent-color);
  border-block-start: 1px solid var(--accent-color);
  inset-block-start: 10px;
  inset-inline-end: 10px;
  position: absolute;
}

.decorated-zone::after {
  content: "";
  block-size: 25px;
  inline-size: 25px;
  border-inline-start: 1px solid var(--accent-color);
  border-block-end: 1px solid var(--accent-color);
  inset-block-end: 10px;
  inset-inline-start: 10px;
  position: absolute;
}

.header__decoration {
  position: absolute;
  display: flex;
  gap: 10px;
  align-items: center;
  text-transform: uppercase;
  line-height: 1.39;
  inset-block-start: 10px;
  inset-inline-end: 19px;
  color: var(--accent-color);
}

.header__decoration::after {
  content: "";
  block-size: 9px;
  inline-size: 9px;
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--accent-color);
  background: var(--accent-color);
}

.header__theme-menu {
  align-self: center;
  justify-self: end;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: var(--accent-color);
}

.header__theme-menu-button {
  color: var(--accent-color);
  background: transparent;
  border: none;
  text-transform: lowercase;
  block-size: 26px;
  line-height: 1;
  padding: 0 13px 3px;
  cursor: pointer;
}

.header__theme-menu-button_active {
  outline: 1px solid var(--accent-color);
  pointer-events: none;
}

.header__title {
  font-size: var(--header-title-size);
  color: var(--title-color);
  text-shadow: 4px 4px 0 var(--accent-color);
  line-height: 0.83;
  text-transform: lowercase;
}

.header__text {
  font-weight: 700;
  line-height: 1.3;
  align-self: center;
}

.title-decor {
  background-color: var(--accent-color);
  color: var(--bg-color);
}

.main {
  padding: 40px 10px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.section {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.section__title {
  color: var(--accent-color);
  line-height: 1.3;
  font-size: 18px;
}

.section__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.section__card {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.section__card-title {
  line-height: 1.3;
  font-size: 18px;
}

.heading-regular {
  font-weight: 400;
}

.section__card-text {
  color: var(--text-color);
}

.link {
  text-shadow: 2px 2px 0 var(--accent-color);
  text-decoration: none;
}

.section__subtitle {
  line-height: 1.3;
  font-size: 18px;
}

.section-images {
  gap: 10px;
}

.section__images-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}

.section__image {
  object-fit: cover;
  inline-size: 100%;
  block-size: 100%;
}